body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14;
}
*{
    box-sizing: border-box;
}

.form-username{
    display:block; /* this needs to be removed */
}
.chatroom-container{
    display: none; /* this needs to be go back to none */
    height: 100vh;
    width: 100%;
}

.chatroom-header{
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
}
.messages{
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.message {
    background-color: #e1e1e1;
    width: fit-content;
    padding: 0.5rem;
    margin: 0.5rem;
}

.sent {
    align-self: flex-end;
}
